@import "service.css";
@import "normalize.css";

@font-face {
  font-family: "Gilroy-Light";
  font-style: normal;
  src: local("Gilroy-Light"), url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy ExtraBold";
  font-style: normal;
  src: local("Gilroy ExtraBold"),
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  src: local("Gilroy ExtraBold"), url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans Light";
  font-style: normal;
  src: local("Gilroy ExtraBold"),
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Open Sans Light", sans-serif;
  max-width: 1440px;
}

.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}

.header {
  padding: 0 60px;
  padding-top: 24px;
  background: linear-gradient(to bottom, white 41px, #f7e296 41px);
}

.header__user-menu {
  display: flex;
  justify-content: space-between;
  padding-top: 37px;
}

.header__search-input {
  width: 164px;
  border: none;
  padding: 0;
  background-color: transparent;
}

.header__search-input:focus {
  outline: none;
  border-bottom: 1px solid black;
}

.user-actions {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
