@import "normalize.css";

@font-face {
  font-family: "Gilroy Light";
  font-style: normal;
  src: local("Gilroy-Light"), url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy ExtraBold";
  font-style: normal;
  src: local("Gilroy ExtraBold"),
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  src: local("Gilroy ExtraBold"), url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans Light";
  font-style: normal;
  src: local("Gilroy ExtraBold"),
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans Light", sans-serif;
  letter-spacing: 0.01em;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1210px;
  width: 100%;
  padding: 0 25px;
  margin: 0 auto;
}

.header {
  padding: 0 60px;
  padding-top: 24px;
  padding-bottom: 65px;
  background: linear-gradient(
    to bottom,
    #ffffff 41px,
    #f7e296 41px,
    #f7e296 300px
  );
}

.header__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.header__logo:hover {
  opacity: 60%;
}

.header__logo:active {
  opacity: 30%;
}

.header__user-menu {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 35px;
  font-size: 15px;
  line-height: 30px;
}

.search {
  display: flex;
}

.search__input {
  border: none;
  padding: 0;
  position: relative;
  padding-left: 40px;
  width: 180px;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: transparent;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 3px center;
  transition: all 0.3s;
}

.search__input::placeholder {
  color: inherit;
  opacity: 30%;
}

.search__input:hover::placeholder {
  opacity: 60%;
}

.search__input:focus {
  width: 355px;
  background-color: transparent;
  outline: none;
  box-shadow: inset 0 -2px 0 0 #000000;
}

.search__button {
  visibility: hidden;
  opacity: 0;
  background: none;
  padding: 0;
  cursor: pointer;
  border: 2px solid black;
  padding: 0 20px;
  transition: all 0.1s;
}

.search__input:focus + .search__button {
  visibility: visible;
  opacity: 1;
}

.search__button:hover {
  color: #ffffff;
  background-color: #000000;
}

.search__button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.user-actions {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  padding-left: 20px;
  width: 50%;
}

.user-actions__item_compare {
  margin-left: auto;
  margin-right: 40px;
}

.user-actions__link {
  position: relative;
  padding-left: 25px;
  transition: all 0.1s;
}

.user-actions__link:hover,
.navbar__link:hover,
.button:hover .button__text {
  opacity: 60%;
}

.user-actions__link:active,
.navbar__link:active,
.button:active .button__text {
  opacity: 30%;
}

.user-actions__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  vertical-align: baseline;
  width: 13px;
  height: 15px;
  background-repeat: no-repeat;
}

.user-actions__link_login::before,
.user-actions__link_username::before {
  background-image: url("/img/user.svg");
  bottom: 1px;
}

.user-actions__link_compare::before {
  background-image: url("/img/compare.svg");
  bottom: -1px;
}

.user-actions__link_cart::before {
  background-image: url("/img/cart.svg");
  bottom: 1px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  font-family: "Gilroy ExtraBold";
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.navbar__list {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  padding-left: 20px;
  position: relative;
}

.navbar__list::after {
  content: "";
  width: 100px;
  height: 7px;
  background: #ffffff;
  position: absolute;
  bottom: -90px;
  z-index: 2;
}

.navbar__item_delivery {
  margin-right: 35px;
}

.navbar__item_contacts {
  margin-left: auto;
  margin-right: -2px;
}

.catalog__item {
  font-family: "Open Sans Light";
  font-size: 15px;
  line-height: 36px;
}

.hero {
  margin-bottom: 100px;
}

.hero__slide {
  display: flex;
  background: linear-gradient(to bottom, #f7e296, #f7e296 100px, #ffffff 100px);
}

.hero__slide::before {
  content: attr(data-slide-number);
  position: absolute;
  top: 0;
  right: 60px;
  margin-right: -8px;
  font-family: "Gilroy ExtraBold";
  font-size: 179.2px;
  line-height: 133px;
  color: #ffffff;
}

.swiper .swiper-pagination {
  position: static;
}

.hero__image-container {
  box-sizing: border-box;
  flex-basis: 580px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
}

.hero__image {
  margin: 0 auto;
}

.hero__info {
  box-sizing: border-box;
  flex-basis: 580px;
  padding-left: 20px;
  z-index: 1;
}

.hero__heading {
  font-family: "Gilroy ExtraBold";
  font-size: 47px;
  line-height: 56px;
  margin: 0;
  margin-top: 68px;
  margin-bottom: 30px;
}

.hero__content {
  max-width: 480px;
}

.specs-table {
  padding: 0;
}

.specs-table__heading {
  width: 140px;
  padding: 0;
}

.specs-table__heading:first-child {
  width: 160px;
}

.specs-table__value {
  padding: 0;
}

.main-text {
  font-size: 15px;
  line-height: 30px;
}

.button {
  border: 0;
  padding: 0;
  font-family: "Gilroy ExtraBold";
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background: linear-gradient(
    to bottom,
    transparent 16px,
    #f0c52e 16px,
    #f0c52e 23px,
    transparent 23px
  );
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navbar__button {
  background: none;
  height: auto;
  padding-right: 30px;
  position: relative;
}

.navbar__button::after {
  content: "";
  background-image: url("../img/plus.svg");
  width: 16px;
  height: 16px;
  position: absolute;
  right: 0;
  opacity: 30%;
}

.button__text {
  margin-right: -0.2em;
}

.button_short {
  width: 160px;
}

.button_medium {
  width: 220px;
}

.button_long {
  width: 260px;
}

.specs-table__heading {
  font-family: "Open Sans Light";
  font-size: 13px;
  line-height: 20px;
  text-align: left;
}

.specs-table__value {
  font-family: "Gilroy Light";
  font-size: 36px;
  line-height: 48px;
}

.categories__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}

.categories__item {
  font-family: "Gilroy ExtraBold";
  font-size: 18px;
  line-height: 24px;
  width: 160px;
}

.categories__link {
  display: block;
  position: relative;
  padding-top: 200px;
}

.categories__link::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;
  background-color: #f7e296;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
}

.categories__link_vr::before {
  background-image: url("../img/popular-1.svg");
}

.categories__link_sticks::before {
  background-image: url("../img/popular-2.svg");
}

.categories__link_action-cams::before {
  background-image: url("../img/popular-3.svg");
}

.categories__link_wristbands::before {
  background-image: url("../img/popular-4.svg");
}

.categories__link_watches::before {
  background-image: url("../img/popular-5.svg");
}

.categories__link_drones::before {
  background-image: url("../img/popular-6.svg");
}

.services {
  display: flex;
  padding-bottom: 70px;
  margin-bottom: 94px;
  background: url("/img/delivery.svg") no-repeat right center,
    linear-gradient(to bottom, #ffffff 100px, #e5e5e5 100px);
}

.services__tab-list {
  padding-top: 80px;
  padding-bottom: 75px;
  border-right: 7px solid #000000;
}

.services__tab {
  padding-right: 115px;
}

.services__tab-content {
  position: relative;
  width: 100%;
  margin-left: 115px;
}

.services__tab-text {
  max-width: 500px;
}

.section-heading {
  font-family: "Gilroy ExtraBold";
  font-size: 47px;
  margin: 0;
}

.manufacturers__list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 93px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
}

.two-columns__column {
  max-width: 560px;
}

.map {
  display: block;
  width: 100%;
  height: 222px;
  margin-bottom: 75px;
}

.footer {
  margin-top: 90px;
  padding-top: 64px;
  padding-bottom: 66px;
  color: white;
  background-color: #464646;
}

.footer__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__top {
  align-items: flex-start;
  margin-bottom: 40px;
}

.footer__middle {
  padding-bottom: 70px;
}

.footer__bottom::before {
  content: "";
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.social-list {
  display: flex;
}

.breadcrumbs__item {
  font-size: 14px;
  line-height: 24px;
  opacity: 30%;
}

.controls-heading {
  font-family: "Gilroy ExtraBold";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.filter__legend {
  font-family: "Gilroy ExtraBold";
  font-size: 18px;
  line-height: 24px;
}

.filter__label {
  font-family: "Open Sans Light";
  font-size: 14px;
}

.sort-menu__item {
  font-family: "Open Sans Light";
  font-size: 14px;
  line-height: 18px;
  opacity: 30%;
}

.sort-menu__item_current {
  opacity: 100%;
}

.catalog-item__link {
  font-family: "Gilroy ExtraBold";
  font-size: 18px;
  line-height: 24px;
}

.catalog-item__price {
  font-family: "Gilroy Light";
  font-size: 16px;
  line-height: 24px;
}

.pagination__item {
  font-family: "Gilroy ExtraBold";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  opacity: 30%;
}

.pagination__item_current {
  opacity: 100%;
}
